<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <h3 class="section-subheading text-muted">
                      Parnassian Data Studio offers bespoke, broad-spectrum science solutions.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-database fa-stack-1x fa-inverse "></i>
                    </span>
                    <h4 class="service-heading">Data Engineering</h4>
                    <p class="text-muted">
                      Upstream of any modeling process is data collection, warehousing, and cleaning. We are adept at harvesting data via APIs or web scraping, transforming data into formats suitable for your applications, and making it accessible in thoughtfully architected databases.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa-solid fa-hexagon-nodes fa-stack-1x fa-inverse "></i>
                    </span>
                    <h4 class="service-heading">Modeling</h4>
                    <p class="text-muted">
                      Data becomes valuable information through analysis and modeling. We specialize a wide variety of modeling techniques, including machine learning, mathematical statistics, Bayesian inference, and simulation.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">User Interface</h4>
                    <p class="text-muted">
                      Even well-modeled data is of little value without a way for users to get at it. We build dashboards and fully-featured SaaS applications, complete with intuitive visualizations carefully selected for maximum insight.
                    </p>
                </div>
            </div>
        </div>
    </section>
